body{
    font-family: Arial, sans-serif;
    background:#ddd;
    margin:0;
}


/* Header */

.header{
    text-align:center;
    padding:30px;
    position:relative;
    background:white;
}

.auth{
    position:absolute;
    right:30px;
    top:20px;

    display:flex;
    align-items:center;
    gap:15px;
}

button{
    padding:8px 16px;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.signup{
    background:#79d157;
    color:white;
}

.search{
    width:600px;
    padding:12px;
    border-radius:25px;
    border:2px solid black;
    margin-top:10px;
}

.favorites{
    background:#79d157;
    color:white;
    padding:8px 16px;
    border-radius:8px;
}

/* Grid phim */

.movie-container{
    width:85%;
    margin:40px auto;

    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap:30px;
}


/* Card phim */

.movie-card{
    background:white;
    border-radius:10px;
    overflow:hidden;

    box-shadow:0 4px 10px rgba(0,0,0,0.1);

    transition:transform 0.2s;

    position:relative;
}

.movie-card:hover{
    transform:scale(1.05);
}


/* ảnh phim */

.movie-img{
    width:100%;
    height:300px;
    object-fit:cover;
}


/* tên phim */

.movie-title{
    padding:10px;
    text-align:center;
    font-weight:bold;
    font-size:15px;
}


/* link */

a{
    text-decoration:none;
    color:inherit;
}

/* favourite button */

.favorite-btn{
    background:none;
    border:none;

    font-size:28px;

    color:white;
    text-shadow:0 0 6px rgba(0,0,0,0.8);

    cursor:pointer;
}

.favorite-btn.active{
    color:red;
}

.favorite-btn:hover{
    transform:scale(1.2);
}

/* Back to Home */
.back-btn{
    margin:20px;
    padding:10px 18px;
    font-size:16px;
    border:none;
    border-radius:8px;
    background:#79d157;
    color:white;
    cursor:pointer;
}

.back-btn:hover{
    opacity:0.8;
}

/*home button */
.home-btn{
    position:absolute;
    left:30px;
    top:25px;

    padding:8px 16px;
    border-radius:8px;
    background:#79d157;
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.home-btn:hover{
    opacity:0.85;
}