<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Trang phim</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="header">
    {% if show_home %}
        <a href="{{ url_for('router.userindex') }}" class="home-btn">
            Home
        </a>
    {% endif %}
    {% block content %}
    {% endblock %}
    <form>
        <input class="search" type="text" name="user_request" placeholder="Request" required>
        <button type="submit">Ask</button>
    </form>
</header>


<section class="movie-container">

{% for movie in movies %}

<div class="movie-card">
    <img class="movie-img"
    src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}">
    <p class="movie-title">{{ movie.title }}</p>
    {% if show_favorite %}
        <form action="/add_favorite" method="POST">
            <input type="hidden" name="movie_id" value="{{ movie.id }}">
            <button type="submit" class = "favorite-btn {% if movie.id in favorites %}active{% endif %}">♥</button>
        </form>
    {% endif %}

</div>

{% endfor %}

</section>

</body>
</html>