<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Trang phim</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="header">
    <div class="auth">
        <button class="signin">
            <a href="{{ url_for('router.signin')}}">Sign in</a>
        </button>
        <button class="signup">
            <a href="{{ url_for('router.signup')}}">Sign up</a>
        </button>
    </div>

    <input class="search" type="text" placeholder="Chỗ để nhập yêu cầu">
</header>


<section class="movie-container">

    <div class="movie-card">
        <div class="movie-img">Ảnh phim</div>
        <p>Tên Phim:</p>
    </div>

    <div class="movie-card">
        <div class="movie-img">Ảnh phim</div>
        <p>Tên Phim:</p>
    </div>

    <div class="movie-card">
        <div class="movie-img">Ảnh phim</div>
        <p>Tên Phim:</p>
    </div>

    <div class="movie-card">
        <div class="movie-img">Ảnh phim</div>
        <p>Tên Phim:</p>
    </div>

</section>

</body>
</html>