<!DOCTYPE html>
<html lang="vi">
<head>
<meta charset="UTF-8">
<title>Sign Up</title>
<link rel="stylesheet" href="{{ url_for('static', filename='sign.css') }}">
</head>

<body class="auth-body">

<div class="auth-container">
    <h2>Sign Up</h2>

    <form method = 'post' action = '/add_user'>
        <input type="text" name="username" placeholder="Username" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name = "password" placeholder="Password" required>
        <button type="submit">Create Account</button>
    </form>

    <p>
        Đã có tài khoản?
        <a class="signin-link" href="{{ url_for('router.signin') }}">Sign In</a>
    </p>
</div>

</body>
</html>