<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Trang phim</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header class="header">
    {% if show_home %}
        <a href="{{ url_for('movie.userindex') }}" class="home-btn">
            Home
        </a>
    {% endif %}

    <div class="auth">
        <p><strong>Welcome, </strong>{{ username }}</p>
    </div>

    <form action="{{ url_for('movie.search') }}" method="get">
        <input class="search" type="text" name="q" placeholder="Search movie name" required value="{{ query or '' }}">
        <button type="submit">Search</button>
    </form>
</header>

<section class="movie-container">
{% for movie in movies %}
<div class="movie-card">
    <img class="movie-img"
    src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}">

    <div class="movie-hover">
        <img class="bg-img"
        src="https://image.tmdb.org/t/p/w780{{ movie.backdrop_path }}">

        <div class="movie-info">
            <h3>{{ movie.title }}</h3>

            <div class="actions">
                <a href="https://wmovies.one/?s={{ movie.title }}" target="_blank">
                    <button>▶ Xem ngay</button>
                </a>

                <a href="{{ url_for('movie.movie_detail', id=movie.id) }}">
                    <button>Chi Tiết</button>
                </a>

                {% if logged %}
                <form action="/add_favorite" method="POST">
                    <input type="hidden" name="movie_id" value="{{ movie.id }}">
                    <button type="submit" class="favorite-btn {% if movie.id in favorites %}active{% endif %}">♥</button>
                </form>
                {% endif %}
            </div>

            <p class="meta">
                ⭐ {{ movie.vote_average }}
            </p>

            <p class="overview">
                {{ movie.overview[:100] }}...
            </p>
        </div>
    </div>
</div>
{% endfor %}
</section>

</body>
</html>
